.DS_Store
tupper-lovers-front/node_modules
functions/node_modules

./public

# local env files
tupper-lovers-front/.env.local
tupper-lovers-front/.env.*.local

# Log files
tupper-lovers-front/npm-debug.log*
functions/npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
